#banner
{
	background-color:#000216;
	font-family: Futura;
}
h1{
	font-family: Futura, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:#1E1F25;
	text-align: center;
}
#content{
	font-family: Futura, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a:link{color:cornflowerblue;}
a:hover{color:firebrick;}
a:visited{color:#1155D0;}
